@font-face {
    font-family: 'Nokia Sans S60';
    src: url('NokiaSansS60-Regular.eot');
    src: local('../fonts/Nokia Sans S60 Regular'), local('NokiaSansS60-Regular'),
        url('../fonts/NokiaSansS60-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NokiaSansS60-Regular.woff2') format('woff2'),
        url('../fonts/NokiaSansS60-Regular.woff') format('woff'),
        url('../fonts/NokiaSansS60-Regular.ttf') format('truetype'),
        url('../fonts/NokiaSansS60-Regular.svg#NokiaSansS60-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}